@use "../variables" as v;
@use "../components/InforEducation/educational_container" as ec;
@use "../components/InforEducation/educational_status" as es;

form{
   // background-color: red;
    display:  grid;
    background-color: v.$white;
    background-image: v.$main-bg;
    border-radius: 8px;
    width: 90%;
    max-width: auto;
    margin: 0 auto;
    box-shadow: v.$main-shadow;

    fieldset{
        padding: 1.25rem 0.2rem; 
        //background-color:  green;
        @include ec.Educationalcont();
        @include es.EducationalStatus();       
    }
    .button{
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.001rem 0.025rem ;
        input{
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            border-radius: 6rem;
            width: 15vw;
            margin: 1rem;
            background-color:#1ea1aa;
            color: v.$white;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            font-size: 1rem;
            font-family: v.$font-family;
            cursor: pointer;
            &:hover{
                background-color:v.$white;
                color: #056d76;
            }
        }
    }
}