@use "../variables" as v;

@mixin error() {
  .error {
    color: v.$error;
    font-family: v.$font-family;
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.3rem;
    font-weight: bold;
    //display: none;

    &-terms {
      text-align: left;
    }
  }
}
