@use "../variables" as v;

@mixin input() {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 30vw;
    font-family: v.$font-family;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid v.$gray;
    outline: none;
    padding: 0.2rem 0;
    color: v.$gray;
    font-weight: bold;
  }
  input[type="checkbox"] {
    margin-right: 8px;
  }
}
