@use "../../variables" as v;

@mixin work_container-status(){
    .work_container{
        &__status{
            //background-color: green;
            border-radius: 0.625rem;
            font-family: v.$font-family;
            font-weight: bold;
            display: flex;    
            justify-content: grid;
            padding: 0.1rem 1rem; 
            label{
            color: v.$white;
        }
        }
        &__Studylevel{
            padding: 0.25rem 0.10rem;
            border-radius: 0.625rem;
            font-family: v.$font-family;
            width: 16vw;
            display: flex;
            flex-direction: column;
            gap: 0.025rem;
            select{
                font-weight: bold;
                width: 15vw;
            }
        }
        &__industry{
            padding: 0.25rem 0.1rem;
            border-radius: 0.625rem;
            font-family: v.$font-family;
            width: 12vw;
            display: flex;
            flex-direction: column;
            gap: 0.025rem;  
            input{
                width: 12vw;
                font-weight: bold;
            }
        }
        &__wcfinalized{
            padding: 0.25rem 0.50rem;
            border-radius: 0.625rem;
            font-family: v.$font-family;
            width: 16vw;
            display: flex;
            flex-direction: column;
            gap: 0.025rem;
            input{
                width: 12vw;
                font-weight: bold;
            }
        }
          }    
}