@use "../../variables" as v;

@mixin fullName(){
    .names{
    //background-color: v.$white;  
    display: flex;
    justify-content: row;    
    padding: 0.50rem 1.25rem;
    align-items: center;
    &__full_name{        
        padding: 0.25rem 1.25rem;
        border-radius: 0.625rem;
        font-family: v.$font-family;
        width: 30vw;
        display: flex;
        flex-direction: column;
        gap: 0.025rem;       
        label{
            color: v.$white;
            font-family: v.$font-family;
            font-weight: bold;
            font-size: 1.2rem;
        }
        input{
            border-bottom: 1px solid v.$gray;
            border-radius: 0.625rem;
            outline: none;
            padding: 0.2rem 0;
            font-family: v.$font-family;
            font-size: 0.85rem;
            font-weight: bold;
        }
    }
    .lastName{
        padding: 0.25rem 1.25rem;
        border-radius: 0.625rem;
        display: flex;
        flex-direction: column;
        margin-left: 0.20rem;
        width: 30vw;
        gap: 0.025rem;
        label{
            color: v.$white;
            font-family: v.$font-family;
            font-weight: bold;
            font-size: 1.2rem;
        }
        input{
            border-radius: 0.625rem;
            border-bottom: 1px solid v.$black;
            outline: none;
            padding: 0.2rem 0;
            font-family: v.$font-family;
            font-size: 0.85rem;
            font-weight: bold;
        }
        
    }  
   }  
        
} 
